//@ colors//
$white: #ffffff;
$black: #000000;
$blackMat: #1c1c1c;
$lilow: linear-gradient(209deg, #f2e8ee, #dfbaba 81%);

//@ shadow
$shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
$shodow-dark: 1px 0px 10px 10px rgb(16 17 17 / 35%);

//@ text
$color-text: $white;
$color-text-light: $blackMat;

//@ blocks
$background-result-window: $violet-grey;


//@ buttons
$hover: invert(0%) sepia(6%) saturate(1898%) hue-rotate(316deg) brightness(70%)
  contrast(78%);
$background-button-hovered: $violet;



$background-button: $lilow-whight;

//@ width
$content-width: 840px;
$content-width-620: 620px;
$laptop-width: 840px;
$tablet-width: 768px;
$mobile-big-width: 426px;
$mobile-small-width: 320px;
$mobile-medium-width: 376px;
